<div id="footer">
    <nav class="navbar navbar-inverse">
        <div class=" container-fluid" >
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MultiTasker</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/terms-of-use">Terms of Service</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
            <p class="navbar-text">Copyright 2017. All Rights Reserved.</p>
        </div>
    </nav>
</div>

</body>
</html>